In [1]:
import pandas as pd
import csv

In [3]:
data_path_2021 = './data/MTA_Subway_Origin-Destination_Ridership_Estimate__2021.csv'
data_path_2022 = './data/MTA_Subway_Origin-Destination_Ridership_Estimate__2022.csv'
data_path_2023 = './data/MTA_Subway_Origin-Destination_Ridership_Estimate__2023.csv'
data_path_2024 = './data/MTA_Subway_Origin-Destination_Ridership_Estimate__2024.csv'
data_path_2025 = './data/MTA_Subway_Origin-Destination_Ridership_Estimate__Beginning_2025.csv'

In [4]:
cols = [
 'Year',
 'Month', 
 'Day of Week',
 'Hour of Day',
 'Origin Latitude',
 'Origin Longitude',
 'Destination Latitude',
 'Destination Longitude',
 'Estimated Average Ridership'
]

In [6]:
#TODO: figure out why 2021 csv file isn't read correctly
#df_2021 = pd.read_csv(data_path_2021, usecols=cols, on_bad_lines='skip', quoting=csv.QUOTE_NONE)

In [6]:
df_2022 = pd.read_csv(data_path_2022, usecols=cols)

In [7]:
df_2023 = pd.read_csv(data_path_2023, usecols=cols)

In [8]:
df_2024 = pd.read_csv(data_path_2024, usecols=cols)

/var/folders/3z/b7z191994kv_khdrz9j6trgc0000gp/T/ipykernel_50154/2708250008.py:1: DtypeWarning: Columns (0,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2024 = pd.read_csv(data_path_2024, usecols=cols)

In [9]:
df_2025 = pd.read_csv(data_path_2025, usecols=cols)

In [10]:
#df = pd.concat([df_2021, df_2022, df_2023, df_2024, df_2025])
df = pd.concat([df_2022, df_2023, df_2024, df_2025])

In [11]:
#del df_2021
del df_2022
del df_2023
del df_2024
del df_2025

In [12]:
df

,Year,Month,Day of Week,Hour of Day,Origin Latitude,Origin Longitude,Destination Latitude,Destination Longitude,Estimated Average Ridership
"(2021, 1)",Monday,11.0,01/04/2021 11:00:00 AM,455.0,327,"""Chambers St (1",40.715478,-74.009266,0.3322
"(2021, 1)",Monday,11.0,01/04/2021 11:00:00 AM,95.0,-73.92227,93,40.682893,-73.910456,0.3217
"(2021, 1)",Monday,11.0,01/04/2021 11:00:00 AM,365.0,168,"""Spring St (C",-74.003739,0.341,POINT (-73.851222 40.834255)
"(2021, 1)",Monday,11.0,01/04/2021 11:00:00 AM,607.0,M,N,"W)""",40.749643,-73.987887
"(2021, 1)",Monday,11.0,01/04/2021 11:00:00 AM,109.0,611,"""Times Sq-42 St (N",W,S,1
...,...,...,...,...,...,...,...,...,...
60218039,2025,6.0,Sunday,12.0,40.669847,-73.950466,40.660397,-73.998091,0.2288
60218040,2025,6.0,Sunday,12.0,40.581011,-73.974574,40.620769,-73.975264,0.5242
60218041,2025,6.0,Sunday,12.0,40.604556,-73.998168,40.759145,-73.95326,0.2692
60218042,2025,6.0,Sunday,12.0,40.693241,-73.990642,40.688089,-73.966839,1.1866
60218043,2025,6.0,Sunday,12.0,40.664635,-73.894895,40.799075,-73.951822,0.2424

In [13]:
columns_map = {
    'Year': 'year',
    'Month': 'month',
    'Day of Week': 'day_of_week',
    'Hour of Day': 'hour_of_day',
    'Origin Latitude': 'origin_latitude',
    'Origin Longitude': 'origin_longitude',
    'Destination Latitude': 'destination_latitude',
    'Destination Longitude': 'destination_longitude',
    'Estimated Average Ridership': 'estimated_average_ridership'
}

df = df.rename(columns=columns_map)

In [18]:
df

,year,month,day_of_week,hour_of_day,origin_latitude,origin_longitude,destination_latitude,destination_longitude,estimated_average_ridership
"(2021, 1)",Monday,11.0,01/04/2021 11:00:00 AM,455.0,327,"""Chambers St (1",40.715478,-74.009266,0.3322
"(2021, 1)",Monday,11.0,01/04/2021 11:00:00 AM,95.0,-73.92227,93,40.682893,-73.910456,0.3217
"(2021, 1)",Monday,11.0,01/04/2021 11:00:00 AM,365.0,168,"""Spring St (C",-74.003739,0.341,POINT (-73.851222 40.834255)
"(2021, 1)",Monday,11.0,01/04/2021 11:00:00 AM,607.0,M,N,"W)""",40.749643,-73.987887
"(2021, 1)",Monday,11.0,01/04/2021 11:00:00 AM,109.0,611,"""Times Sq-42 St (N",W,S,1
...,...,...,...,...,...,...,...,...,...
60218039,2025,6.0,Sunday,12.0,40.669847,-73.950466,40.660397,-73.998091,0.2288
60218040,2025,6.0,Sunday,12.0,40.581011,-73.974574,40.620769,-73.975264,0.5242
60218041,2025,6.0,Sunday,12.0,40.604556,-73.998168,40.759145,-73.95326,0.2692
60218042,2025,6.0,Sunday,12.0,40.693241,-73.990642,40.688089,-73.966839,1.1866
60218043,2025,6.0,Sunday,12.0,40.664635,-73.894895,40.799075,-73.951822,0.2424

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 313239366 entries, (2021, 1) to 60218043
Data columns (total 9 columns):
 #   Column                       Dtype
---  ------                       -----
 0   year                         object
 1   month                        float64
 2   day_of_week                  object
 3   hour_of_day                  float64
 4   origin_latitude              object
 5   origin_longitude             object
 6   destination_latitude         object
 7   destination_longitude        object
 8   estimated_average_ridership  object
dtypes: float64(2), object(7)
memory usage: 23.3+ GB

In [16]:
nan_count = df['estimated_average_ridership'].isna().sum()
nan_count

7

In [17]:
df.dropna(subset=['estimated_average_ridership'], inplace=True)

In [20]:
years = [2021, 2022, 2023, 2024, 2025]
df = df[df.year.isin(years)]

In [21]:
df.year.unique()

array([2022, 2023, 2024, 2025], dtype=object)

In [22]:
df['month'] = df['month'].astype(int)
df['year'] = df['year'].astype(int)
df['day_of_week'] = df['day_of_week'].astype(str)

/var/folders/3z/b7z191994kv_khdrz9j6trgc0000gp/T/ipykernel_50154/3632001444.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['month'] = df['month'].astype(int)
/var/folders/3z/b7z191994kv_khdrz9j6trgc0000gp/T/ipykernel_50154/3632001444.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = df['year'].astype(int)
/var/folders/3z/b7z191994kv_khdrz9j6trgc0000gp/T/ipykernel_50154/3632001444.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['day_of_week'] = df['day_of_week'].astype(str)

In [23]:
df.month.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8, 12, 10, 11,  9])

In [24]:
df.year.unique()

array([2022, 2023, 2024, 2025])

In [25]:
df.day_of_week.unique()

array(['Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'Monday',
       'Tuesday'], dtype=object)

In [26]:
df.to_csv('data_collected.csv', index=False)