In [13]:
import pandas as pd
import statsmodels.formula.api as smf

/opt/homebrew/lib/python3.11/site-packages/statsmodels/tools/tools.py:6: UserWarning: A NumPy version >=1.23.5 and <2.3.0 is required for this version of SciPy (detected version 2.3.4)
  import scipy.linalg

In [4]:
data_path = "./data/data_agg.csv"

df = pd.read_csv(data_path)

In [5]:
df.head()

,year,month,day_of_week,hour_of_day,origin_nta2020,origin_nta_name,destination_nta2020,destination_nta_name,estimated_average_ridership
0,2022,1,Friday,0.0,BK0101,Greenpoint,BK0102,Williamsburg,2.4044
1,2022,1,Friday,0.0,BK0101,Greenpoint,BK0103,South Williamsburg,2.4761
2,2022,1,Friday,0.0,BK0101,Greenpoint,BK0104,East Williamsburg,3.5014
3,2022,1,Friday,0.0,BK0101,Greenpoint,BK0202,Downtown Brooklyn-DUMBO-Boerum Hill,4.9075
4,2022,1,Friday,0.0,BK0101,Greenpoint,BK0203,Fort Greene,2.5759

In [6]:
df['is_weekend'] = df['day_of_week'].isin(['Saturday', 'Sunday'])

In [10]:
df['post_treatment'] = df['year'] == 2025

In [11]:
df

,year,month,day_of_week,hour_of_day,origin_nta2020,origin_nta_name,destination_nta2020,destination_nta_name,estimated_average_ridership,is_weekend,post_treatment
0,2022,1,Friday,0.0,BK0101,Greenpoint,BK0102,Williamsburg,2.4044,False,False
1,2022,1,Friday,0.0,BK0101,Greenpoint,BK0103,South Williamsburg,2.4761,False,False
2,2022,1,Friday,0.0,BK0101,Greenpoint,BK0104,East Williamsburg,3.5014,False,False
3,2022,1,Friday,0.0,BK0101,Greenpoint,BK0202,Downtown Brooklyn-DUMBO-Boerum Hill,4.9075,False,False
4,2022,1,Friday,0.0,BK0101,Greenpoint,BK0203,Fort Greene,2.5759,False,False
...,...,...,...,...,...,...,...,...,...,...,...
52506835,2025,6,Wednesday,23.0,QN8381,John F. Kennedy International Airport,QN1002,Ozone Park,6.6642,False,True
52506836,2025,6,Wednesday,23.0,QN8381,John F. Kennedy International Airport,QN1201,Jamaica,1.2685,False,True
52506837,2025,6,Wednesday,23.0,QN8381,John F. Kennedy International Airport,QN1401,Far Rockaway-Bayswater,4.9744,False,True
52506838,2025,6,Wednesday,23.0,QN8381,John F. Kennedy International Airport,QN1402,Rockaway Beach-Arverne-Edgemere,8.5055,False,True
52506839,2025,6,Wednesday,23.0,QN8381,John F. Kennedy International Airport,QN1403,Breezy Point-Belle Harbor-Rockaway Park-Broad ...,0.9757,False,True

In [12]:
df.columns

Index(['year', 'month', 'day_of_week', 'hour_of_day', 'origin_nta2020',
       'origin_nta_name', 'destination_nta2020', 'destination_nta_name',
       'estimated_average_ridership', 'is_weekend', 'post_treatment'],
      dtype='object')

In [ ]:
model = smf.ols(
    'estimated_average_ridership ~ post_treatment + C(month) + C(day_of_week) + C(hour_of_day) + C(origin_nta2020)',
    data=df
).fit(cov_type='cluster', cov_kwds={'groups': df['origin_nta2020']})

print(model.summary())